$body-bg: whitesmoke;
$main-bg: #fff;
$border-color: #000;
$shadow-color: rgba(136, 136, 136, 0.5);
$header-color: #462299;
$link-color: rgb(148, 65, 225);
$link-hover: #047ed0;
$remove-button: rgb(255, 0, 0);
$font-color: #000;
$inverse-font-color: #fff;
$go-button: rgb(0, 252, 0);