$body-bg: rgb(0, 0, 0);
$main-bg: rgb(0, 0, 0);
$border-color: rgb(255, 255, 255);
$shadow-color: rgba(255, 255, 255, 0.5);
$header-color: #58656e;
$link-color: rgb(103, 32, 117);
$link-hover: #0496d0;
$remove-button: rgb(248, 6, 6);
$font-color: rgb(255, 255, 255);
$inverse-font-color: #fff;
$go-button: rgb(133, 133, 133);
